.privacy-layer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.privacy-layer--active {
  display: flex;
}

.privacy-layer__inner {
  background-color: #fff;
  padding: 20px;
  width: 800px;
  max-width: 100%;

  & [data-level] {
    display: none;

    &[data-active] {
      display: block;
    }
  }
}
